<div class="row-fluid">
  <div class="span3 well">
    <ul class="nav nav-list">
      <li class="nav-header">Accounts</li>

      <%- @accounts.each do |account| -%>
      <li>
        <%= link_to dashboard_path('account_id' => account.id), remote: true do %>
          <%= account.name %>: <%= number_to_currency(account.balance) %>
        <%- end -%>
      </li>
      <%- end -%>
    </ul>
  </div>
  <%= render 'transaction_section' %>
</div>